body {
    background-color: #121212;
}

.top{
    display: flex;
}

.title {
    width: fit-content;
    margin-right:auto;
    margin-left: auto;
    font-size: 30px;
    color: #ffff;
    border:#64b2ed solid;
    border-radius: 1rem;
    padding: 2rem;  
}

img {
    width: 100px;
}

.start {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -100px;
    
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
    box-shadow: 0 0 0 100vmax #121212;
    clip-path: inset(0 -100vmax);
    color: #ffff;
    margin-top: 100px;
    height: 500px;
    background-color: #121212;
}



.options {
    display:flex;
    flex-direction: column;
    align-items: center;;
}
.rps {
    border:#64b2ed;
    border-style: solid;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 20px;
    width: 100px;
    text-align: center;
    margin-top: 20px;  
}

button {
    border:#64b2ed;
    border-style: solid;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 20px;
    width: 300px;
    text-align: center;
    margin-top: 70px;
    background-color: #121212;
    color: #ffff;
    cursor: pointer;
}

button:hover {
    transition: scale(4);
}

#sbutton {
    border: purple solid;
}

.score {
    color:#ffff;
    border:#64b2ed solid;
    margin-top: 0px;
    height: 200px;
    /* justify-content: center; */
    border-radius: 1rem;
    font-size: 25px;
}

.output {
    display: flex;
    justify-content: space-evenly;
}

.writtenOutput {
    display: flex;
    justify-content: center;
}