html {
    height: 100vh;
}



body {
    background-color: #85c3f2 ;
}

.top{
    display: flex;
}

.title {
    width: fit-content;
    margin-right:auto;
    margin-left: auto;
    font-size: 30px;
    color: #121212;
    /* border:#ffff solid; */
    border-radius: 1rem;
    padding: 2rem; 
    /* background-color: #3d62d1;  */
}

img {
    width: 100px;
    background-color: #3d62d1;
}

.start {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -100px;
    
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
    clip-path: inset(0 -100vmax);
    color: #121212;
    margin-top: 200px;
    height: 500px;
    
}

.options {
    display:flex;
    flex-direction: column;
    align-items: center;;
}

.button {
    border: none;
    border: 3px solid #121212;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 20px;
    width: 300px;
    text-align: center;
    margin-top: 70px;
    background-color: #85c3f2;
    color: #121212;
    cursor: pointer;
    transition: ease-out 0.3s;
    font-size: 2 rem;
    outline: none;
    position: relative;
    z-index: 1;
    
}

.button:hover {
    color: #ffff;
    cursor: pointer;
}

.button:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right:50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #121212;
}

.button:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity:1;
    z-index:-1;
}

/* .rock {
    background-image: url(images/rockIcon.png);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
}

.paper {
    background-image: url(images/paperIcon.jpg);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
}

.scissors {
    background-image: url(images/scissorsIcon.jpg);
} */

#rpsImage {
    width: 300px;
    border-radius: .5rem;
    height:300px;
    background-color: #85c3f2;
    
}


.score {
    color:#121212;
    border:#121212 solid;
    margin-top: 100px;
    /* background-color: #3d62d1; */
    height: 200px;
    width:943.33px;
    /* justify-content: center; */
    border-radius: 1rem;
    font-size: 25px;
}

.output {
    display: flex;
    justify-content: space-evenly;
}

.writtenOutput {
    display: flex;
    justify-content: center;
}

.scoreAlign